body {
    text-align: center;
    height: 100vh;
    margin-top: 250px;
}

.stopwatch-container {
    border: 10px solid deeppink;
    border-radius: 300px;
    background: darkgrey;
    width: 130px;
    height: 140px;
    margin: auto;
}
.stopwatch-container:hover{
    transform: matrix3d(1.8);
    color: darkred;
}

.stopwatch {
    margin: auto;
}

.stopwatch:hover {
    transform: matrix(1.9);
    background: red;
}

.startwatch {
    margin: auto;
}

.startwatch:hover {
    transform: matrix(1.9);
    background: blueviolet;
}

.resetwatch {
    margin:auto;
}

.resetwatch:hover {
    transform: matrix(1.9);
    background: green;
}



